/**********************************************
	Added by Laura
***********************************************/
.fa-stack {
	margin-right: 5px !important;
}

/***********************************************
  Added by Allie
***********************************************/

.inline-amt-desc h2, .stacked-amt-desc h2{
	font-size: 48px;
	}
	
.inline-amt-desc.block{
	margin-top: 1em;
	margin-bottom: 1em;
	}
	
.banner-image{
	height:200px;
	}
	
img{
	width:100%;
	}
	
figcaption{
	color:#666666;
	font-style: italic;
	}
	
.center{
	text-align:center;
	}
	
.row{
	margin-top: 1.25em;
	margin-bottom:1.25em;
	}
	
	.row .row:first-child {
		margin-top:0;
	}
	
	.row.graphs {
		margin-bottom:15px;
	}
	
	.row.no-margin-top {
		margin-top:0;
	}
	
	.row.tabular{
	
	}
		
		.row.tabular table {
			margin-top:20px;
		}
	
		.row.tabular h3{
			float:left;
			margin-top:0;
		}
	
.block{
	border-right:#cccccc 1px solid;
	}
	
	.block:last-child {
		border:none;
	}
	
.lead {
	font-size:19px;
}
	
.thick-divider{
	border-bottom:#cccccc 3px solid;
	margin:1.25em 0;
	}
	
.container .intro-row .jumbotron{
	background: none;
	border-radius: 0;
	margin-left: -15px;
	margin-right: -15px;
	padding:0 15px;
	}
	
.jumbotron h1{
	margin-top:0;
	}

#search-menu{
	padding:20px;
	}
	
#search-menu h5{
	color:#666666;
	}
	
.large{
	font-size: 2em;
	}
	
.larger{
	font-size:3em;
	}
	
.jumbo{
	font-size:4em;
	}
	
.top-totals h2,
.top-totals h3{
	margin-top:0;
	margin-bottom:0;
	}
	
.thin-divider{
	border-bottom:#cccccc 1px solid;
	}
	
label{
	font-weight: 200;
	}

table.horizontal-bar-graph {
	border-spacing: 0;
    border-collapse: collapse;
	width:100%;
}
	table.horizontal-bar-graph tr td {
		border-bottom:1px dotted lightgray;
		padding: 10px 0px;
	}
		
		table.horizontal-bar-graph tr:last-child td {
			border-bottom:0px;
		}
		
		table.horizontal-bar-graph tr td:first-child {
			width:65px;
		}
		
		table.horizontal-bar-graph tr td .bar {
		
			padding:5px;
			box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
			border-radius:5px;
			font-weight:600;
			color: rgba(255,255,255,.8);
		}
			
			table.horizontal-bar-graph tr td .bar.democrat {
				background-color: #0B6BCF;
			}
			
			table.horizontal-bar-graph tr td .bar.republican {
				background-color:#B62C33;
			}

.big-number-with-wrapped-text {

}

	.big-number-with-wrapped-text h3 {
		float:left;
		display:inline;
		font-size:40pt;
		float:left;
		margin-right: 15px;
	}
	
	.big-number-with-wrapped-text label {
		display:inline;
	}

.county {
	fill: #eee;
	stroke: #aaa;
	opacity:.8;
}
	
	.county:hover{
		opacity:1;
		cursor:pointer;
	}
	
	.county.selected{
		fill:#256F5B;
	}
	
	.county.DEM{
		fill:#2E4272;
	}
	
	.county.REP{
		fill:#AA3939;
	}

.chart {
	font-family:"Open Sans", sans-serif;

}

#tooltip {
	position:absolute;
	background-color:rgba(255,255,255,.8);
	padding:0;
	border-radius:5px;
	border:1px solid lightgray;
	font-family:"Open Sans", sans-serif;
	font-size:14pt;
	font-weight:400;
	overflow:hidden;
	text-align:Center;
}
	#tooltip .date{
		font-weight:100;
		font-size:10pt;
		width:100%;
		background-color:seagreen;
		color:white;
		
	}
	
	.formap#tooltip {
		position:fixed;
		padding:10px;
		font-size:12pt;
		text-align:left;
	}
	
		.formap#tooltip h4 {
			margin:0px 0px 5px;
		}
		
		.formap#tooltip table {
			font-size:10pt;
			width:100%;
			cell-spacing:0;
			border-collapse:collapse;
		}
			
			.formap#tooltip table td {
				border-bottom:1px solid lightgray;
				padding:5px;
			}
			
				.formap#tooltip table tr:last-child td {
					border:0;
				}
	
	#tooltip .text{
		padding:5px;
		
	}
	
@media screen and (max-width: 767px) {
	.top-totals .col-lg-4 h3{
		font-size: 1.25em;
	}
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
	
	.top-totals .col-lg-4 h3{
		font-size: 2em;
	}
}

@media (min-width: 1200px) {

}

@media (max-width: 480px) and (orientation: landscape) {

}

@media (min-width: 768px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 767px) {

}



/***********************************************
  End added by Allie
***********************************************/




body {
	font-family: 'Open Sans', sans-serif;
}

#map_canvas {
	height: 100px;
	width: 300px;
	float: right;
	border: 1px solid lightgray;
	clear: both;
	margin-bottom: 10px;
}

/*small {
	font-size: 50% !important;
}
.divider {
	padding-bottom: 10px;
	border-bottom: 1px solid lightgray;
}
.col-md-3 {
	border-right: 1px solid lightgray;
	padding-left: 20px;
}
.col-md-3:last-child {
	border-right: none;
}
.col-md-4 {
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	padding-left: 20px;
}
.col-md-4:first-child, .col-md-4:last-child {
	border: none;
}

.sm_county_map {
	width: 250px;
	height: auto;
	
}
.donor_donations_overview {
	margin-top: 10px;
}

.section_header {
	font-weight: bold !important;
}

.top_space20 {
	margin-top: 40px;
}
h1 .small {
	font-size: 45%;
}

.social {
	opacity: .5;
}
.social:hover {
	opacity: .7;
}*/


/* Smartphones (portrait and landscape) ----------- */
/*@media only screen and (max-width: 480px) {

	#map_canvas {
		float: left;
	}
	.intro-row h3 {
		clear: both;
		padding-top: 10px;
	}
 }*/